<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.prism063.core.mapper.auth.RoleMapper">
    <select id="getUserRole" parameterType="Long" resultType="com.seciii.prism063.core.pojo.po.auth.RolePO">
        SELECT *
        FROM `t_auth_role`
        WHERE id =
              (SELECT `t_auth_user_role`.role_id
               FROM `t_auth_user_role`
               WHERE user_id = #{userId})
    </select>
</mapper>