<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.prism063.core.mapper.auth.UserMapper">
    <select id="existsUser" parameterType="String" resultType="int">
        select exists (SELECT username
                       from `t_auth_user`
                       where username = #{username});
    </select>
</mapper>