<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seciii.prism030.core.mapper.news.VectorNewsMapper">
    <select id="getVectorNewsByVectorId" parameterType="String" resultType="com.seciii.prism030.core.pojo.po.news.VectorNewsPO">
        SELECT *
        FROM prism030.t_vector_news
        WHERE vector_id = #{vector_id}
    </select>

    <select id="deleteVectorNewsByNewsId" parameterType="Long" resultType="int">
        DELETE FROM t_vector_news
        WHERE news_id = #{news_id}
    </select>
</mapper>